* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    transition: all 1s linear;
  }
  
  .slider {
    margin: auto;
    width: 60%;
    height: 50%;
    padding: 0.6rem;
    background-color: #25282A;
  }
  
  .slider-control {
    height: 0.6rem;
    width: 0.6rem;
    border: 1px solid #71ABFF;
    background-color: #71ABFF;
    border-radius: 50%;
    display: inline-block;
  
    transition: background-color 1s linear, color 1s linear;
  }
  
  .slider-control:hover {
    cursor: pointer;
    border: 1px solid #FFF;
    background-color: #FFF;
  }
  
  .active {
    border: 1px solid #71ABFF;
    background-color: transparent;
    transition: background-color 1s linear;
  }
  
  .active:hover {
    cursor: pointer;
    border: 1px solid #FFF;
    background-color: transparent;
  }
  
  .slider-footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 2%;
  }
  
  .slider-text {
    width: 80%;
  
    color: white;
  }
  
  .slider-controls {
    width: 20%;
    display: flex;
    column-gap: 0.2em;
    justify-content: end;
  }
  
  .slider-img>img {
    width: 100%;
    height: 60vh;
    border-radius: 5px;
  }