* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    transition: all 1s linear;
  }
  
  .slider {
    margin: auto;
    width: 60%;
    height: 50%;
    padding: 0.6rem;
    background-color: #25282A;
  }

  .slider-controls {
    width: 20%;
    display: flex;
    justify-content: end;
  }

  .slider-control {
    padding: 0.2rem 0.3rem;
  }
  .slider-control>span{
    height: 0.6rem;
    width: 0.6rem;
    display: inline-block;
    border: 1px solid #71ABFF;
    background-color: #71ABFF;
    border-radius: 50%;
      
    transition: background-color 1s linear, color 1s linear;
  }
  .slider-control>span:hover {
    cursor: pointer;
    border: 1px solid #FFF;
    background-color: #FFF;
  }
  
  span.active {
    border: 1px solid #71ABFF;
    background-color: transparent;
    transition: background-color 1s linear;
  }
  
  span.active:hover {
    cursor: pointer;
    border: 1px solid #FFF;
    background-color: transparent;
  }
  
  .slider-footer {
    display: flex;
    height: 2rem;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 2%;
  }
  
  .slider-text {
    width: 80%;
  
    color: white;
  }
  
  
  .slider-img>img {
    width: 100%;
    height: calc(20rem + 10vh);
    border-radius: 5px;
  }

  .animate {
    animation: changeImg 2s linear;
  }
  
  @keyframes changeImg {
    0% {
      opacity: 0.2;
    }
  
    25% {
      opacity: 0.35;
    }
  
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes changeText {
    0% {
      color: rgba(255, 255, 255, 0);
    }
  
    25% {
      color: rgba(255, 255, 255, 0.3);
    }
  
    50% {
      color: rgba(255, 255, 255, 0.5);
    }
    75% {
      color: rgba(255, 255, 255, 0.75);
    }
  
    100% {
      color: rgba(255, 255, 255, 1);
    }
  }
  
  .animateText {
    animation: changeText 2s linear;
  }
  
  @media only screen and (max-width: 780px) {
    .slider {
      height: 29rem;
    }
  
    .slider-footer {
      flex-direction: column;
    }
  
    .slider-controls {
      margin: 1.5rem auto;
    }
  
    .slider-control {
      width: 0.5rem;
      height: 0.5rem;
      margin: 0 0.2rem;
    }
  
    .slider-img>img {
      height: calc(18rem + 5vh);
    }
  }

  @media only screen and (max-width: 500px) {
    .slider {
      width: 80%;
      height: calc(20rem + 10vh);
    }
  
    .slider-img>img {
      height: calc(15rem + 5vh);
    }
  }

  